<head>
    <title>Customize - API Examples</title>
    <link href="https://unpkg.com/swagger-ui-dist@5/swagger-ui.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #swagger-ui {
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>
<div id="swagger-ui"></div>
<script src="https://unpkg.com/swagger-ui-dist@5/swagger-ui-bundle.js"></script>
<script>
    window.onload = function () {
        SwaggerUIBundle({
            url: "/api/v1/spec/openapi.yml",
            dom_id: "#swagger-ui",
        });
    };
</script>